<div class="animated fadeInUp" style="animation-delay: 0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-fluid InputContainer">
        <div class="title">
          Home Page

          <br>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="title">Monthly Consumption</div>
            <app-chart></app-chart>
          </div>
          <div class="col-md-8">
            <div class="title">Usage Percentages</div>
            <app-piechart></app-piechart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>